

<div class="card">
  <div class="card-body">
    <h2>Filtros</h2>
    <div class="row">
      <div class="col-md-6">
      
        {{items}}
          
          <div class="form-group">
            <select [(ngModel)]="estado">
              <option *ngFor="let estado of estados" value="{{estado.Estado}}" >{{estado.Estado}}</option>
            </select>
            <label class="control-label" for="select">Estado</label><i class="bar"></i>
          </div>
          <div class="form-group">
            <select [(ngModel)]="municipio">
              <option  *ngFor="let mun of [
              'Amacuzac',
              'Jojutla',
              'Tlalnepantla',
              'Atlatlahucan',
              'Jonacatepec',
              'Tlaltizapan',
              'Axochiapan',
              'Mazatepec',
              'Tlaquiltenango',
              'Ayala',
              'Miacatlán',
              'Tlayacapan',
              'Coatlan del Río',
              'Ocuituco',
              'Totolapan',
              'Cuautla',
              'Puente de Ixtla',
              'Xochitepec',
              'Cuernavaca',
              'Temixco',
              'Yautepec',
              'Emiliano Zapata',
              'Tepalcingo',
              'Yecapixtla',
              'Huitzilac',
              'Tepoztlan',
              'Zacatepec',
              'Jantetelco',
              'Tetecala',
              'Zacualpan de Amilpas',
              'Jiutepec',
              'Tetela del Volcán',
              'Temoac'
              ]" value="{{mun}}" >{{mun}}</option>
            </select>
            <label class="control-label" for="select">Municipio {{items?.length}}</label><i class="bar"></i>
          </div>
          <div class="form-group">
            <select [(ngModel)]="seccion">
              <option>Todas</option>
              <option>I</option>
              <option>II</option>
              <option>III</option>
              <option>IV</option>
              <option>V</option>
            </select>
            <label class="control-label" for="select">Sección</label><i class="bar"></i>
          </div>
        
        
      </div>
  
      <div class="col-md-6">
          <div class="form-group">
            <select [(ngModel)]="casilla">
              <option value="Todas">Todas las casillas</option>
              <option *ngFor="let casilla of [1,2,3,4,5,6,7,8,9]" value="{{casilla}}" >{{casilla}}</option>
            </select>
            <label class="control-label" for="select">Casilla</label><i class="bar"></i>
          </div>
          <div class="form-group">
            <select [(ngModel)]="tipo">
              <option>Presidente Municipal</option>
              <option>Senador</option>
              <option>Diputado local</option>
              <option>Todos</option>
            </select>
            <label class="control-label" for="select">Tipo de elección</label><i class="bar"></i>
          </div>
          <button class="btn btn-primary pull-right" type="button" >
              <span>Generar Reporte</span>
          </button>
          <!-- <div class="form-group">
              
          </div> -->
          
  
  
        </div>
      </div>
    </div>
  </div>
  
  <br>
  
  <div class="row" *ngIf="tipo">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
            <div class="form-group" style="padding:20px">
                <select [(ngModel)]="grafica">
                  <option value="barras" >Barras</option>
                  <option value="pastel" >Pastel</option>
                  <!-- <option value="" >Polígonos</option> -->
                </select>
                <label class="control-label" for="select">Tipo de gráfica</label><i class="bar"></i>
              </div>
        </div>
        <img src="assets/graph.png" *ngIf="grafica=='barras'" width="100%" alt="">
        <img src="assets/pastel.jpg" *ngIf="grafica=='pastel'" width="100%" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
  
        <table class="table">
          <thead>
            <tr>
              <th>Partido</th>
              <th>Votos</th>
              <th>Porcentaje</th>
              <th>Validar fotos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let partido of partidos">
              <td>{{partido.nombre}}</td>
              <td>{{partido.votos}}</td>
              <td>{{partido.porcentaje}}</td>
              <td>
                <button class="btn btn-secondary btn-xs">
                  <i class="fa fa-eye"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
  
      </div>
  
      <p style="margin:25px">
          <strong >Nota: La información de esta tabla se actualiza en tiempo real</strong>
      </p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2>Fotos subidas recientemente</h2>
        </div>
        <div class="list-group" *ngFor="let foto of fotos">
            <div class="list-group-item">{{foto.name}}
              <span class="muted pull-right">
                <i class="fa fa-clock-o"></i>
                {{foto.date|date:'hh:mm:ss'}}</span>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-6">
        <ngx-contacts></ngx-contacts>
    </div>
  </div>
  
  
  
  
  <!-- 
  <div class="row">
    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Light" type="primary">
        <i class="nb-lightbulb"></i>
      </ngx-status-card>
    </div>
  
    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Roller Shades :)" type="success">
        <i class="nb-roller-shades"></i>
      </ngx-status-card>
    </div>
  
    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Wireless Audio" type="info">
        <i class="nb-audio"></i>
      </ngx-status-card>
    </div>
  
    <div class="col-xxxl-3 col-md-6">
      <ngx-status-card title="Coffee Maker" type="warning">
        <i class="nb-coffee-maker"></i>
      </ngx-status-card>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-temperature></ngx-temperature>
    </div>
  
    <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
      <ngx-electricity></ngx-electricity>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xxxl-9 col-xl-12">
      <ngx-rooms></ngx-rooms>
    </div>
  
    <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
      <ngx-contacts></ngx-contacts>
    </div>
  
    <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
      <ngx-solar [chartValue]="72"></ngx-solar>
  
      <ngx-kitten></ngx-kitten>
    </div>
  
    <div class="col-xxxl-3 col-xxl-4 col-md-5">
      <ngx-traffic></ngx-traffic>
      <ngx-weather></ngx-weather>
    </div>
  
    <div class="col-xxxl-6 col-xxl-12 col-md-7">
      <ngx-security-cameras></ngx-security-cameras>
    </div>
  </div> -->
  
  

<!-- 
<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Light" type="primary">
      <i class="nb-lightbulb"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Roller Shades" type="success">
      <i class="nb-roller-shades"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Wireless Audio" type="info">
      <i class="nb-audio"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Coffee Maker" type="warning">
      <i class="nb-coffee-maker"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div> -->
